/* Með CSS stjórnarðu ´tliti síðunnar, eins og litum, leturgerð, og staðsetningu
innihledsins. En sjálft innihald síðunnar er í HTML kóðanum.
Til þess að læra að gera eitthvað, prófaðu að leita á google af því sem þú vilt vita, til dæmis:
"how to change link color." */

body {
  background-color: #C1E3E2;
  color: #132e63;
}

h1 {
  color: #FFFFFF;
  background-color: #617fba;
  font-family: Helvetica, sans-serif;
  font-style: bold;
  text-align: center;
}

h2 {
  color: #FFFFFF;
  font-style: sans-serif;
  border: 3px solid white;
  text-align: center;
}

a {
  color: #FFFFFF

}

a:hover {
  color: #132e63;
  font-size: 20px;
}

ul {
  background-color: #edbe8e;
}
