/* Með CSS stjórnarðu ´tliti síðunnar, eins og litum, leturgerð, og staðsetningu
innihledsins. En sjálft innihald síðunnar er í HTML kóðanum.
Til þess að læra að gera eitthvað, prófaðu að leita á google af því sem þú vilt vita, til dæmis:
"how to change link color." */

body {
  background-color: #FEF9E7;
  color: #000000;

  box-sizing: border-box;
}





}

h1 {
  color: #212F3C;
  background-color: #80E8D1;
  font-family: Georgia, Garamond, Palatino, serif;
  font-style: bold;
}

h2 {
  color: #212F3C;
  font-style: oblique;
  text-align: center;
  border: 3px solid black;
}

a {
  color: #000000;
}

a:hover {
  color: #000000;
  font-size: 20px;
}

ul {
  background-color: #80E8D1;
}
